body{
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
    margin: 0;
}
.headerbody{
    background-color: #1F2937;
    padding: 0 10%;
}

.header{
    padding-top: 16px;
    display:flex;
    justify-content: space-between;
}
.topcontent{
    display: flex;
    justify-content: space-between;
    padding: 96px 0;
}
.button{
    cursor: pointer;
    background: #3882F6;
    border-radius: 8px;
    color: #E5E7EB;
    padding: 4px 16px; 
    margin-top: 8px;
}

.button1{
    border: none;
}
.logo{
    font-size: 24px;
    font-weight: 600;
}
.logo,
.maintext, 
.image{
    color: #F9FAF8;
}
.maintext{
    font-size: 48px;
    font-weight: 600;
}
.secondarytext, .links{
    font-size: 18px;
    color: #cacccf;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
a{
    text-decoration: none;
}
.left{
    width: 500px;
}
.image{
    font-size: 15px;
    background-color: #6f737c;
    padding: 56px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topmidbody{
    padding-bottom: 7%;
}
.title{
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 32px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blueboxes{
    display: flex;
    justify-content: center;
    gap: 42px;
}

.box{
    background: white;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 70px; 
    margin-bottom: 8px;
}
.info{
    gap: 8px;
    max-width: 150px;
    text-align: center;
}
.bottommidbody{
    padding: 82px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotebody{
    width: 700px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}
.signature{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 700;
}
